.header{
    display: flex;
    background-color: aqua;
    justify-content: center;
}
.links{
    display: flex;
    justify-content: center;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
h5{
    color:beige
}
*{
    background-color: darkgrey;
}